.product-card-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 250px;
}

.product-card-image-wraper {
  display: inline-block;
  text-align: center;
}

.productbox {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.btn-wrapper {
    margin-top:20px;
}
div {
    cursor: pointer
}

.producttitle {
  font-weight: bold;
  padding: 5px 0 5px 0;
}

.productprice {
  border-top: 1px solid #dadada;
  padding-top: 5px;
}

.pricetext {
  font-weight: bold;
  font-size: 1.4em;
}
.pricediscount {
    color: red
}
