<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <div
        class="navbar-collapse collapse navbar-left"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow float: left">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">tees</a>
          </li>
          <li
          class="nav-item"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
            <a class="nav-link text-dark" [routerLink]="['/']">Sweatshirts</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">About</a>
          </li>
        </ul>
      </div>

      <div class="upper-left-container">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <!-- <form id="searchForm" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Session" />
          </div>
          <button class="btn-primary btn-default">
            Search
          </button>
        </form> -->
      </div>

  </div>
  </nav>
</header>
